*{
    margin: 0;
}

.footer-main {
    display: flex;
    justify-content: center;
    background-color: #f8f9fa;
    padding: 1.5rem;
    text-align: center;
}

.logo-section {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.social-icons{
    display: flex;
    gap: 1.5rem;
}


